<!DOCTYPE html>


<html>

<head>
        <link rel="stylesheet" href="./css/styles.css">
        <title>About</title>
             <link rel="icon" href="/img/image.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img class="portrait" src="/img/DSC04208.jpg">
    {{!-- <img src="/img/DSC03938.jpg"> --}}
    {{!-- <h1>{{name}}</h1> --}}
    </div>
    
    {{>footer}}

</body>




</html>